<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сократи ссылку в один клик</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<div class="py-5 d-flex justify-content-center w-100">
    <form action="/" method="post" class="text-center" style="max-width: 300px">
        <div class="row">
            <div class="form-group d-inline-block col-10">
                <input type="text" class="form-control shadow-none" id="url_input" placeholder="Сократите свою ссылку"
                       name="long_url" autocomplete="off">
            </div>
            <div class="col-2" style="margin-left: -15px">
                <button type="submit" id="submit" class="btn btn-light">Сократить</button>
                <button type="submit" id="copy" class="btn btn-light" style="display: none">Копировать</button>
            </div>
        </div>
    </form>
</div>

<script>
    $('button[type=submit]').click(function (e) {
        e.preventDefault();
        if ($(this).attr("id") === "copy") {
            var copyText = document.getElementById("url_input");
            copyText.select();
            copyText.setSelectionRange(0, 100);
            document.execCommand("copy");
            return false;
        }
        var $form = $(this).closest('form');

        $.ajax({
            type: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize()
        }).done(function (data) {
            if (data.error) {
                alert(data.error);
            } else if (data.message) {
                $('#url_input').val(data.message);
                $('button#submit').hide();
                $('button#copy').show();
            }

        });

    });

    $('#url_input').on("keypress, keyup, keydown", function () {
        $('button#submit').show();
        $('button#copy').hide();
    });

</script>
</body>
</html>