<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if short_url %}
        <p>{{ short_url }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
	    <label for="long_url">Введи свою длинную ссылку:</label>
	    <input type="text" name="long_url">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>